* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: medium;
}

.logo {
    width: 35%;
}

.navbar-nav {
    justify-content: space-between;
    width: 100%;
}

.nav-item a {
    color: white;
    opacity: 0.7;
}

a {
    text-decoration: none;
}

.active a {
    opacity: 1;
}

.navbar-toggler {
    background-color: white;
}

.navbar {
    background-color: #232536;
}

.our-service {
    background-color: #FFE6D2;
    padding: 6rem 0 6rem 0;
}

img {
    object-fit: cover;
}

.image {
    width: 100%;
    height: 100%;
}

.our-service a {
    color: black;
}

h2 {
    font-weight: 600;
    font-size: 3rem;
    line-height: 3.5rem;
}

.frame a {
    font-weight: 500;
    font-size: 0, 875rem;
    line-height: 1.25rem;
    /* identical to box height, or 143% */

    letter-spacing: 3px;
    text-transform: uppercase;
    color: #000000;
}

h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
}

.items {
    border: 1px solid rgba(35, 37, 54, 0.17);
    padding: 1rem;
    margin-right: 1rem;

}

.our-progress {
    padding: 6rem 0 6rem 0;
}

.title a {
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
    /* identical to box height, or 143% */

    letter-spacing: 3px;
    text-transform: uppercase;

    color: #000000;

    opacity: 0.87;
}

p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    /* or 150% */


    color: #232536;
    opacity: 0.87;
}

.card-content div {
    float: right;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    /* identical to box height, or 133% */


    /* Black */

    color: #232536;

    opacity: 0.2;
}

h6 {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.8rem;
    /* identical to box height, or 175% */


    color: #000000;
}

.flex {
    display: flex;
}

h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    line-height: 3rem;
}

.feature-1 {
    padding: 0 0 6rem 0;
}

.feature-2 {
    background-color: #ECF8F9;
    padding: 0 0 6rem 0;
}

.feature-3 {
    padding: 0 0 6rem 0;

}

.feature-4 {
    padding: 0 0 6rem 0;
}

.feature-5 {
    padding: 0 0 6rem 0;
}

.form-letter {
    background-color: #666DFF;
    margin-bottom: 4rem;
}

.form-letter a,
.form-letter h3 {
    color: white;
}

.footer-top {
    margin-bottom: 4rem;
}

.footer-top a {
    color: black;
}

.footer-top h2 {
    font-size: 3rem;
    font-weight: 600;
    line-height: 3.5rem;
}

.footer-top h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 2rem;
    /* identical to box height, or 150% */


    color: #232536;
}

.footer-top p {
    opacity: 1;
}

.page a {
    font-style: normal;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

.service a {
    margin-bottom: 1rem;
}

.resourses a {
    margin-bottom: 1rem;
}

.contact-link {
    float: right;
}

.contact-link a {
    font-style: normal;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    margin-bottom: 1rem;

}

.footer-bottom {
    background-color: #FFE6D2;
}
.ft-bt-logo img{
    margin-right: 2rem;
}

@media(max-width: 576px) {
    .content h2 {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }
}

@media (max-width:768px) {

    .feature-1,
    .feature-2,
    .feature-3,
    .feature-4,
    .feature-5 {
        padding: 0 0 3rem 0;
    }   

    .feature-items {
        margin-bottom: 2rem;
    }

    .form-letter {
        display: none;
    }

    .footer-top h2 {
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .more {
        display: none;
    }

    .contact-link {
        float: left;
    }
    .logo-social{
        display: none;
    }
}